.hero{
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 33%;
    min-height: 350px;

    &__image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
    }

    &__shade{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.15) 16%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.6) 84%, rgba(0, 0, 0, 0.7));
    }

    &__content{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        padding: 50px 100px;
    }

    &__title{
        font-size: 2rem;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        background: #111;
        padding: 1rem 4rem 1rem 0rem; 

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            background: #111;
            width: 100px;
        }

    }

    &__subtitle{
        padding-bottom: 1rem;
        margin:2rem 0;
    }
    
}

.hero--full{
    min-height: 1200px;
}