#site-navigation{
    .menu-item a{
        text-transform: uppercase;
        text-align: left;
        font-size: 12px;
        padding-top: 1rem;
    }

    .donate-button{
        background: $color-primary;
        color: #fff;
    }

    .donate-button a{
        font-size: 1.2rem;
        padding-left:2rem;
        padding-right:2rem;
    }

    .donate-button a:after {
        font-family: FontAwesome;
        content: "\f054";
        margin-left: 8px;
        font-weight: 100;
        font-size: 1.2rem;
    }
}

#site-footer{

}

#authica-social{
    padding:0 4rem;
}

.menu-item a{
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
}

#thoroughbreds-header.frontpage.sticky .header-inner {
    height: 80px;
    background: #1b1b1b;
}

#thoroughbreds-header.frontpage.sticky .header-inner #thoroughbreds-logo img {
    max-height: 75px;
}