#site-navigation{
    .menu-item a{
        text-transform: uppercase;
        text-align: left;
        font-size: 12px;
        padding-top: 1rem;
    }
}

#site-footer{

}

#authica-social{
    padding:0 4rem;
}

.menu-item a{
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
}