.section{
    overflow: hidden;
    &__title{
        &--title{
            font-size: 4rem;
        }

        &--title::before{
            content: "";
            width: 45px;
            height: 0;
            display: block;
            border-top: 2px solid $color-primary;
            margin: 0 0 15px 0;
        }
    }
}